* {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif; }

/*Ponistavanje materialize*/
.modal {
  background-color: transparent;
  max-height: 100%; }

nav {
  background-color: rgba(0, 0, 0, 0.35);
  line-height: 1.5;
  height: auto !important; }
  nav i {
    font-size: 16px !important;
    height: auto; }
  nav ul a {
    padding: 0px; }
    nav ul a:hover {
      background-color: transparent; }

nav button:focus {
  background-color: inherit;
  outline: none !important; }
nav .btn:focus {
  background-color: inherit; }

.row {
  margin-bottom: 0px; }

input[type=search]:not(.browser-default) {
  margin: 0px;
  height: auto; }

/*Kraj ponistavanja*/
.navbar-light .navbar-toggler {
  border-color: rgba(0, 0, 0, 0.5); }
.navbar-light .navbar {
  padding-top: 5%;
  padding-bottom: 5%; }

p {
  margin: 0px; }

.header {
  padding-top: 1%;
  padding-bottom: 1%; }

.bela {
  color: white !important;
  text-transform: uppercase !important; }

.hero {
  width: 100%;
  height: 100vh;
  background-image: url("../img/pozadina.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .hero h1 {
    font-size: 9rem;
    color: white; }
    @media (max-width: 1200px) {
      .hero h1 {
        font-size: calc(2.025rem + 9.3vw) ; } }
  .hero h2 {
    font-size: 2.5rem;
    color: white; }
    @media (max-width: 1200px) {
      .hero h2 {
        font-size: calc(1.375rem + 1.5vw) ; } }

#spliter {
  border-right: 2px solid  #c4c4c4;
  padding: 0px 3px; }

#shop {
  padding: .7rem 2.5rem;
  background-color: #e3cdb3;
  margin-top: 20%;
  font-size: 1rem; }

.aktivni {
  background-color: rgba(0, 0, 0, 0.5);
  transition: .4s; }

#search {
  outline: none;
  box-shadow: none !important;
  border: 1px solid #ccc !important;
  background-color: rgba(132, 132, 132, 0.35); }
  #search::placeholder {
    color: white; }
  #search:focus {
    background-color: white; }
  #search:focus::placeholder {
    color: black; }

.form-control {
  border-radius: 0.25rem !important;
  width: 1% !important;
  padding: 0.375rem 0.75rem !important; }
  .form-control:not(:last-child) {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important; }

.btn i {
  font-size: 16px;
  height: auto !important; }

.text h3 {
  font-size: 3.8rem;
  margin-top: 15%;
  color: #484e52; }
  @media (max-width: 1200px) {
    .text h3 {
      font-size: calc(1.505rem + 3.06vw) ; } }
.text p {
  font-size: 1.5rem;
  margin-top: 15%;
  padding-bottom: 5%;
  color: #484e52; }
  @media (max-width: 1200px) {
    .text p {
      font-size: calc(1.275rem + 0.3vw) ; } }

.korisnici {
  background-color: rgba(0, 0, 0, 0.03);
  height: 140px; }

.podnaslov {
  font-size: 3.8rem;
  color: #484e52; }
  @media (max-width: 1200px) {
    .podnaslov {
      font-size: calc(1.505rem + 3.06vw) ; } }

.slova {
  font-size: 1rem; }

.prvi {
  font-size: 1.3rem; }
  @media (max-width: 1200px) {
    .prvi {
      font-size: calc(1.255rem + 0.06vw) ; } }

.drugi {
  font-size: 1rem; }

.treci {
  color: #484e52;
  font-size: 1rem; }

#satisfaction {
  padding-bottom: 20px; }

footer {
  background-color: #484e52; }

#copyright {
  background-color: #19191a; }
  #copyright p {
    font-size: 0.85rem; }

.roza {
  color: #e3cdb3; }

.ikonica {
  font-size: 1.5rem; }
  @media (max-width: 1200px) {
    .ikonica {
      font-size: calc(1.275rem + 0.3vw) ; } }

.svetla {
  background-color: #7a7c7e; }

.visina {
  height: 40px; }

h5 {
  margin-bottom: 0px;
  font-size: 1rem; }

#lokacija {
  font-size: 0.85rem; }

#mailto {
  font-size: 1rem; }
  #mailto:hover {
    text-decoration: none;
    color: #007bff; }

#company {
  margin-bottom: 1rem; }

#opis {
  font-size: 0.97rem; }

#social a:hover {
  text-decoration: none; }

#slider {
  margin-top: 100px; }
  #slider h1 {
    color: #484e52;
    font-size: 4rem; }
    @media (max-width: 1200px) {
      #slider h1 {
        font-size: calc(1.525rem + 3.3vw) ; } }

.carousel-item {
  width: 100%;
  height: 525px; }

.price {
  font-size: 1.3rem; }
  @media (max-width: 1200px) {
    .price {
      font-size: calc(1.255rem + 0.06vw) ; } }

.table th {
  border-top: 0px; }
.table td {
  border-top: 0px; }

.details {
  background-color: #8e8e8e;
  color: white; }

.btn:focus {
  outline: none;
  box-shadow: none; }

.buy {
  background-color: #e3cdb3;
  color: white; }

.product-height {
  height: 70px; }

.specs {
  font-size: 16px; }

.product-title {
  font-size: 15.8px; }

.input-field .dropdown-content li > span {
  color: #484e52; }
.input-field input[type=text]:focus + label {
  color: #484e52 !important; }
.input-field input[type=text]:focus {
  border-bottom: 1px solid #484e52 !important;
  box-shadow: 0 1px 0 0 #484e52 !important; }
.input-field input[type=email]:focus + label {
  color: #484e52 !important; }

input[type=email]:focus {
  border-bottom: 1px solid #484e52 !important;
  box-shadow: 0 1px 0 0 #484e52 !important; }

textarea.materialize-textarea:focus {
  border-bottom: 1px solid #484e52 !important;
  box-shadow: 0 1px 0 0 #484e52 !important; }

textarea.materialize-textarea:focus + label {
  color: #484e52 !important; }

#prelaz:hover, #prelaz:active, #prelaz:focus {
  background-color: #484e52;
  color: white;
  outline: none !important; }

.btn-floating {
  background-color: #e3cdb3 !important; }

.border-none {
  border-bottom: 0px; }

.left-margin {
  margin-left: 45%; }

.modal-width {
  max-width: 770px; }

.info {
  margin-top: 35%; }

.btn-large:focus {
  outline: none; }

.personal {
  color: #484e52; }
  .personal:hover {
    text-decoration: none;
    color: black; }

#modal-naslov {
  font-size: 1.6rem; }
  @media (max-width: 1200px) {
    #modal-naslov {
      font-size: calc(1.285rem + 0.42vw) ; } }

.autor-text {
  font-size: 1rem; }

/*# sourceMappingURL=style.css.map */
